.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

md-toolbar {
  &.navbar {
    position: fixed;
    background-color: transparent;
    padding: 0px 22px;

    span {
      color: white;
      font-weight: bold;
    }

    &.fixed {
      background-color: white;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.32);
      -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.32);
      box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.32);

      .md-button {
        span {
          color: $primary-color;
        }
      }
    }
  }
}

.md-button {
  .navbar-btn {
    background-color: transparent;
    a {
      background-color: transparent;
    }
  }
}

.logo-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: transparent;

  .logo {
    height: 120px;
  }

  .logo-fixed {
    height: 42px;
  }
}
