<md-toolbar layout="row" layout-align="end center" class="navbar" id="navbar">
  <section flex layout="row" layout-align="end center">
      <md-button href="#" class="navbar-btn">Home</md-button>
      <md-button href="#purpose" class="navbar-btn">Propósito</md-button>
      <md-button href="#" class="navbar-btn">Proceso</md-button>
      <md-button href="#" class="navbar-btn">Proyectos</md-button>
  </section>
  <div class="logo-wrapper">
    <img src="/assets/images/logo.png" class="logo-fixed ng-hide" id="logo-fixed">
  </div>
</md-toolbar>
<div class="logo-wrapper">
  <img src="/assets/images/logo2.png" class="logo" id="logo">
</div>
