.full-width-landscape {
  height: 600px;
  width: 100%;
  background: url(/assets/images/paisaje.jpg) center no-repeat;
  background-size: cover;

  .subheader {
    padding: 40px;
    color: white;
    text-align: right;
  }
}

.big-header {
  font-size: 42px;
  margin: 60px 0px;

  @media (max-width: 480px) {
    font-weight: 36px;
  }
}

.text-center {
  text-align: center;
}

.purpose-wrapper {

  .purpose-text {
    padding: 80px;
  }

  .mobile-nav {
    background: url(/assets/images/mobile.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 360px;
  }
}

.projects-wrapper {
  padding: 80px;

  .change-project {
    width: 80%;
  }

  h2 {
    text-align: justify;
  }
}
