<div layout="vertical" layout-fill>

  <md-content id="home">
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <div class="full-width-landscape full-height" flex layout="row" layout-align="end center">
      <div class="subheader">
        <h1 class="big-header">Te acompañamos en<br>la creación de tu<br>éxito</h1>
      </div>
    </div>

    <div class="purpose-wrapper" flex layout="column" layout-align="center center" id="purpose">
      <div class="purpose-text text-center">
        <h1 class="big-header">Propósito</h1>
        <h2>En Qentek creamos un<br>modelo de servicio<br>innovador con el objetivo<br>de hacer que tus proyectos<br>sean exitosos.</h2>
      </div>
      <div class="mobile-nav"></div>
    </div>

    <div class="development-wrapper">
      <h1 class="big-header text-center">Desarrollo</h1>
      <div layout="column" flex layout-align="center center" layout-gt-md="row">
        <div flex="100" flex-gt-md="50" layout-align="center center" layout-gt-md="column">
          <h3 class="text-center">Desarrollo de Productos</h3>
          <div class="development-circle">
            <md-button class="upper-button" ng-click="main.openDialog($event, 'seed')">Etapa<br>Semilla</md-button>
            <md-button class="left-button" ng-click="main.openDialog($event, 'version2')">Versión 2<br>*(PMV)</md-button>
            <md-button class="right-button" ng-click="main.openDialog($event, 'version0')">Versión 0</md-button>
            <md-button class="bottom-button" ng-click="main.openDialog($event, 'version1')">Versión 1</md-button>
          </div>
          <div class="schema-text text-center">
            <p>Esquema General de un ciclo (~5 meses)</p>
            <small>*(Podrás ver en funcionamiento tu idea)</small>
          </div>
        </div>
        <div flex="100" flex-gt-sm="50" layout-align="center center" layout-gt-md="column">
          <h3 class="text-center">Mejora Continua</h3>
          <div class="development-circle alternate">
            <md-button class="upper-button long-btn-txt" ng-click="main.openDialog($event, 'finding')">Descubrimiento y<br>Medición</md-button>
            <md-button class="left-button long-btn-txt" ng-click="main.openDialog($event, 'implementacion')">Implementación</md-button>
            <md-button class="right-button" ng-click="main.openDialog($event, 'planning')">Planeación<br>y Análisis</md-button>
            <md-button class="bottom-button" ng-click="main.openDialog($event, 'design')">Diseño</md-button>
          </div>
          <div class="schema-text text-center">
            <p>Esquema General de un ciclo (~5 meses)</p>
            <small>&nbsp;</small>
          </div>
        </div>
      </div>
    </div>

    <div class="projects-wrapper">
      <div class="project-text" flex layout="column" layout-align="center center" id="projects">
        <h1 class="big-header">Proyectos</h1>

        <div layout="column" layout-gt-sm="row" flex layout-align="center center" class="project-text">
          <md-card layout="column" flex-gt-sm="50" layout-align="center center" flex="100">
            <img src="/assets/images/change.png" class="change-project">
          </md-card>
          <div layout="column" flex-gt-sm="50" layout-align="center center" flex="100">
            <h2>A mediano plazo y por medio de la ejecución de proyectos, nosotros crearemos una herramienta disruptiva que proveerá una manera única para acceder a la información y permitirá que cualquier organización se beneficie de los efectos que brindan las mejores prácticas, los marcos y la experiencia.</h2>
          </div>
        </div>
      </div>
      <div class="sky-nav"></div>
    </div>

    <div class="video-wrapper" layout="row" flex layout-align="center center">
      <iframe src="https://www.youtube.com/embed/VjYcp0JOTiQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="projects-wrapper">
      <div class="project-text" flex layout="column" layout-align="center center" id="processes">
        <h1 class="big-header">Procesos</h1>

        <div layout="column" layout-gt-sm="row" flex layout-align="center start" class="project-text">
          <div layout="column" flex-gt-sm="50" layout-align="center center" flex>

            <h2 flex class="text-center">Desarrollo de Productos</h2>

            <div layout="row" flex layout-align="start center">
              <div flex-gt-sm="40" flex layout-align="center center" hide-sm hide-xs>
                <img src="/assets/images/iphone.png" class="process-iphone">
              </div>
              <div flex-gt-sm="60" flex layout-align="center center">
                <p>Etapa semilla: Donde nos enfocamos en definir el concepto de nuestro cliente<br><br>
                  Validación: Creación del primer prototipo<br><br>
                  Versión 0: Creación de perfiles<br><br>
                  Versión 1: Creación de módulos<br><br>
                  Versión 2: Producto mínimo viable (Podrás ver en funcionamiento tu idea)</p>
              </div>
            </div>

          </div>
          <div layout="column" flex-gt-sm="50" layout-align="center start" layout-align-gt-sm="center center" flex style="width: 100%">
            <h2 flex style="width: 100%; text-align: center">Mejora Continua</h2>

            <div layout="row" flex layout-align="start center">
              <div flex-gt-sm="60" flex layout-align="center center">
                <ol>
                  <li>Descubrimiento y Medición</li>
                  <li>Planeación y análisis</li>
                  <li>Diseño</li>
                  <li>Implementación</li>
                </ol>
              </div>
              <div flex-gt-sm="40" flex layout-align="center center" hide-sm hide-xs>
                <img src="/assets/images/boy.png" class="process-iphone">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="contact-wrapper" layout="row" layout-align="start center" flex>
      <div layout="column" flex-gt-sm="50" flex="100" layout-align="center center">
        <md-button class="btn-contact" href="mailto:javier@mkitdigital.com">Contáctanos</md-button>
      </div>
    </div>

    <div class="map-wrapper" flex layout="row" layout-align="center center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.51641074588!2d-74.24789370544404!3d4.648283717372144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoSwgQm9nb3Rh!5e0!3m2!1sen!2sco!4v1473214183293" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>

    <div class="footer" flex layout="row" layout-align="center center">
      <p>©2016 <b>Qentek S.A.S.</b>, Todos los derechos reservados</p>
    </div>

  </md-content>

</div>
